# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python cache folders
.pytest_cache/

# Distribution
build/
dist/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/